<div class="search-container">
  <div class="input-filter">
      <i class="fa fa-search"></i>
      <input [ngModel]="currentFilter" (ngModelChange)="onFilterChanged($event)" type="text" placeholder="Search pokemons"  id="filter"/>
  </div>
</div>
<div *ngIf="pokemonCurrentList.length>0" class="table-header">
  <div class="legend-resume">
      <span><strong>{{ pokemonCurrentList.length }}</strong></span>
      <span>Pokemons Found</span>
  </div>
  <select class="select-items" [(ngModel)]="config.itemsPerPage" (change)="onItemsPerPageChanged($event.target.value)">
    <option *ngFor="let items of itemPerPageOptions" [value]=items>
        Show {{items}}
    </option>
  </select>
  
</div>
