    @import '../../../../styles/styles.scss';
    .search-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        .input-filter {
            @include input-style(250px, 40px, center, 15px);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 15px;
            cursor: text;
            input {
                border: none;
                height: 95%;
                width: 95%;
                color: #8f8f8f;
                font-size: 15px;
            }
            input:focus,
            input:active {
                outline: none;
            }
        }
         ::-webkit-input-placeholder {
            color: #9f9f9f;
        }
    }
    
    .table-header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        span {
            font-size: 17.5px;
            margin-right: 5px;
        }
        .select-items {
            @include input-style(110px, 35px, left, 15px);
        }
    }
    
    .selected-items {
        font-size: 13.5px !important;
    }
    
    @media screen and (max-width: 970px) and (min-width: 320px) {
        .search-container .input-filter {
            @include input-style(250px, 30px, center, 13px);
            margin-bottom: 20px;
        }
        .table-header {
            span {
                font-size: 15px;
            }
            .select-items {
                @include input-style(100px, 30px, left, 13px);
            }
        }
    }
    
    @media screen and (min-width:570px) {
        .table-header {
            width: 280px;
        }
    }
    
    @media screen and (min-width:970px) {
        .table-header {
            width: 280px;
        }
        .search-container {
            margin-bottom: 10px;
        }
    }