@import '../../../../styles.scss';

.search-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 25px;

    .input-filter {
        @include input-style(250px, 40px, center, 15px);
    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        cursor: text;
    
        input {
            border:none;
            height: 95%;
            width: 95%;
            color: #8f8f8f;
            font-size: 15px;
        }
    
        input:focus, input:active {
            outline: none;
        }
    }
    ::-webkit-input-placeholder {
        color: #9f9f9f;
    }
}

.table-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    width: 280px;
    margin: 25px 0;
    
    span {
        font-size: 18px;
        margin-right: 5px;
    }

    .select-items {
        @include input-style(110px, 35px, left, 15px);
    }
}


