<div class="selection-container">
    <div class="title">
        <legend>Your sellection!</legend>
    </div>
    <table class="pokemon-table" cellspacing="0">
        <thead>
            <tr>
                <th>#</th>
                <th>name</th>
                <th class="image">image</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pokemon of selectedCollection; let i=index">
                <td>{{i+1}}</td>
                <td>{{pokemon.name}}</td>
                <td class="image"><img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" /></td>
            </tr>
        </tbody>
    </table>
    <div class="resume">
        <span>Add {{selectedCollection.length}} pokemons</span>
    </div>
    <div class="action-buttons">
        <button type="submit" class="btn-save" (click)="onConfirmCollection()">Confirm</button>
    </div>
</div>