.pokemon-table {
    text-align: left;
    width: 100%;

    th {
      font-weight: 200;
      text-transform: uppercase;
      font-size: 12.5px;
      color:#a3a3a3;
    }
 
    tbody {
      box-shadow: 0 0 0 1px #f2f2f2;
      td {
          border-bottom:1pt solid #f2f2f2;
          height: 100px;
          text-transform: capitalize;

          span {
              display: block;
              margin: 0;
              padding: 0
          }
      }
    }

.checkbox-group {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 10px;
   cursor: pointer;

    input {
        opacity: 0;
    }
    input:checked ~ .checkmark {
        background-color: #4AC580;
        border: none;
    }
    input:checked ~ .checkmark:after {
        display: block;
    }
    .checkmark {
        position: absolute;
        height: 20px;
        width: 20px;
        border: 1px solid #a3a3a3;
        border-radius: 5px;
    }
    .checkmark:hover {
        background-color: #ccc;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .checkmark:after {
        left: 6px;
        top: 3px;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
  }
}

.checkbox-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
 
    input {
        opacity: 0;
    }
    input:checked ~ .checkmark {
        background-color: #4AC580;
        border: none;
    }
    input:checked ~ .checkmark:after {
        display: block;
    }
    .checkmark {
        position: absolute;
        height: 20px;
        width: 20px;
        border: 1px solid #a3a3a3;
        border-radius: 5px;
    }
    .checkmark:hover {
        background-color: #ccc;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .checkmark:after {
        left: 6px;
        top: 3px;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
}

.pagination {
    margin: 20px 40px;
    display: flex;
    justify-content: center;

    .pagination-previous, 
    .pagination-next{
        display: inline-block;
        color: #4AC580;
        font-size: 14px;
        margin: 0 10px;
        cursor: pointer;
    
        .disable {
            color:#b6d0c2;
            cursor: initial;
        }
    }

    .page-number {
        display: inline-block;
        margin: 0px 4px;
        font-weight: 500;
    
        span {
            display: block;
            width: 20px;
            font-size: 15px;
            cursor: pointer;
            color: #4AC580;
            font-size: 14px;
        }
        .current-page {
            color: #2f935b!important;;
        }
    }
}








