@import '../../../../styles/styles.scss';
@import '../../../../styles/variables';
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .pagination {
        margin: 20px 40px;
        display: flex;
        justify-content: center;
        .pagination-previous,
        .pagination-next {
            display: inline-block;
            margin: 0 10px;
            color: $green;
            font-size: 14px;
            cursor: pointer;
            .disable {
                color: #b6d0c2;
                cursor: initial;
            }
        }
        .page-number {
            display: inline-block;
            margin: 0px 4px;
            font-weight: 500;
            span {
                display: block;
                width: 20px;
                color: $green;
                font-size: 14px;
                cursor: pointer;
            }
            .current-page {
                color: #2f935b!important;
            }
        }
    }
}

.select-pagination {
    @include input-style(70px, 35px, right, 12px);
}

@media screen and (max-width:785px) {
    .table-header {
        width: 280px;
    }
    .pagination-container {
        margin: 20px 5px;
    }
    .pagination {
        margin: 0 !important;
        margin-right: 5px !important;
        .page-number {
            display: none !important;
        }
    }
}