<div class="target-container">
    <div class="field">
        <span>{{pokemonData['id']}}</span>
    </div>
    <div class="field">
        <span>{{pokemonData['name']}}</span>
    </div>
    <div class="field">
        <img [src]="pokemonData['sprites']['front_default']" [alt]="pokemonData['name']" />
        <!-- <span>{{pokemonData['sprites']['']}}</span> -->
    </div>
    <div class="field">
        <span>{{pokemonData['height']}}</span>
    </div>
    <div class="field">
        <span>{{pokemonData['weight']}}</span>
    </div>
    <div class="field">
        <span>{{pokemonData['base_experience']}}</span>
    </div>
    <div class="field">
        <div *ngFor="let ability of pokemonData['abilities']">
            <span>{{ability.ability.name}}</span>
        </div>

    </div>
</div>