<table class="pokemon-table" cellspacing="0">
    <thead>
        <tr>
            <th class="priority-1"></th>
            <th class="priority-1" (click)="sortPokemonListBy('id')">No.<i class="fa fa-sort"></i></th>
            <th class="priority-1" (click)="sortPokemonListBy('name')">name<i class="fa fa-sort"></i></th>
            <th class="priority-1">image</th>
            <th class="priority-3">type</th>
            <th class="priority-5" (click)="sortPokemonListBy('height')">height<i class="fa fa-sort"></i></th>
            <th class="priority-5" (click)="sortPokemonListBy('weight')">weight<i class="fa fa-sort"></i></th>
            <th class="priority-4" (click)="sortPokemonListBy('base_experience')">exp<i class="fa fa-sort"></i></th>
            <th class="priority-4">abilities</th>
            <th class="priority-2" (click)="sortPokemonListBy('attack')">attack<i class="fa fa-sort"></i></th>
            <th class="priority-2" (click)="sortPokemonListBy('defense')">defense<i class="fa fa-sort"></i></th>
            <th class="priority-2" (click)="sortPokemonListBy('speed')">speed<i class="fa fa-sort"></i></th>
        </tr>
    </thead>
    <tbody *ngIf="config">
        <tr *ngFor="let pokemon of pokemonCurrentList | paginate: config">
            <td class="priority-1">
                <label class="checkbox-group">
                    <input type="checkbox" [value]="pokemon.id" [checked]="pokemon.selected" (change)="onSelectionChanged($event)" [disabled]="!activeSelection">
                    <span class="checkmark"></span>
                </label>
            </td>
            <td class="priority-1">{{pokemon.id}}</td>
            <td class="priority-1">{{pokemon.name}}</td>
            <td><img class="priority-1" [src]="pokemon.sprites.front_default" [alt]="pokemon.name" /></td>
            <td class="priority-3">
                <span *ngFor="let type of pokemon['types']">{{type.type.name}}</span>
            </td>
            <td class="priority-5">{{pokemon.height / 10}} m</td>
            <td class="priority-5">{{pokemon.weight / 10}} Kg</td>
            <td class="priority-4">{{pokemon.base_experience}}</td>
            <td class="priority-4">
                <span *ngFor="let ability of pokemon['abilities']">{{ability.ability.name}}</span>
            </td>
            <td class="priority-2">
                <app-statistic-bars [baseStat]="pokemon.stats[4].base_stat"></app-statistic-bars>
            </td>
            <td class="priority-2">
                <app-statistic-bars [baseStat]="pokemon.stats[3].base_stat"></app-statistic-bars>
            </td>
            <td class="priority-2">
                <app-statistic-bars [baseStat]="pokemon.stats[0].base_stat"></app-statistic-bars>
            </td>
        </tr>
    </tbody>
</table>