<div class="header">
    <div class="title">
        Pokedex
    </div>
</div>

<router-outlet>
    <app-dashboard></app-dashboard>
</router-outlet>

<footer>
    <div class="contact">
        <i class="fa fa-phone-square"></i>
        <span>(557)009-3059</span>
    </div>
    <div class="contact">
        <i class="fa fa-linkedin-square"></i>
        <a href="https://www.linkedin.com/in/maryalvarezh/" target="_blank">maryalvarezh</a>
    </div>
    <div class="contact">
        <i class="fa fa-github-square"></i>
        <a href="https://github.com/MaryAlvarezH" target="_blank">MaryAlvarezH</a>
    </div>
</footer>